* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  background-color: #e7f6f2;
  color: #252422;
  margin: 10px auto;

  font-family: "ff-meta-web-pro", sans-serif;
  text-rendering: optimizeLegibility;

  background: #f6efe5;
  align-items: center;

  align-items: center;
  justify-content: center;
  text-align: center;
}

body.dark-mode {
  background-color: #14213d;
  color: white;
}

nav {
  text-align: center;
  padding: 1rem;
  margin: 1em;
}

nav li {
  background-color: #eb5e28;
  color: white;
  padding: 1rem;
  position: sticky;
}

nav li:hover {
  background-color: white;
  border-radius: 10%;
  color: #eb5e28;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #eb5e28;
  justify-content: space-around;
  width: 100%;
}

footer {
  text-align: center;
}

.hero {
  text-align: left;
}

.herobox {
  display: grid;

  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}

.herobox p {
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.hero img {
  width: 200px;
  border-radius: 20%;
  background-image: linear-gradient(to right, #f12711, #f5af19);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1px rgba(241, 39, 17, 0.4);
  }
  70% {
    box-shadow: 0 0 10px 10px rgba(241, 39, 17, 0);
  }
  100% {
    box-shadow: 0 0 20px 20px rgba(241, 39, 17, 0);
  }
}

button {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
  padding: 10px;
  border-radius: 10%;
}

.toggle-button {
  background-color: #fffcf2;
  color: #252422;
  border: 2px solid #333;
  padding: 8px 16px;
  border-radius: 8px;
}

.outsidebox {
  position: relative;
  justify-content: center;

  justify-content: stretch;
  text-align: center;
  margin: 1.5rem;
  padding: 0.5rem;
}

.tech {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 10px;
}

.workbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.workcard {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  grid-column: span 2;
}

.workcard2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
}

.workcard3 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
}

.school {
  display: flex;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

.techcard {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 5px;
  transition: 2s;
}

.techcard img {
  max-width: 50%;
  max-height: 50%;
}

.skillsbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skilltechbox {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
